<div class="text-start mt-2">
    <div class="row mt-0">
        <div class="col text-start">
            <p class="category">Category</p>
        </div>
        <div class="col text-end mb-0 ">
            <img src="../../assets/images/close-icon.png" (click)="closeDialog()" class="close-icon">
        </div>
    </div>
    <form [formGroup]="formGroup">
        <section *ngFor="let category of categoriesOfProducts" class="d-flex mt-4 mb-4">
            <input
                    class="checkbox"
                    type="checkbox"
                    formControlName="category"
                    (change)="onCheckboxChangeValue(category)"
            >
            <div class="category-option px-2 mt-2">{{ category }}</div>
        </section>
    </form>
    <div class="mt-5">
        <hr>
    </div>
</div>
