.category {
  font-size: 22px;
  font-weight: 700;
}

.hiddenParagraph {
  visibility: hidden;
}

.close-icon {
  visibility: hidden;
}

@media (min-width: 500px) {
  .hiddenParagraph {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .category {
    visibility: hidden;
  }
  .hiddenParagraph {
    visibility: visible;
  }
  .close-icon {
    visibility: visible;
    height: 18px;
    width: 18px;
    cursor: pointer;
  }
}

