.category {
  font-size: 22px;
  font-weight: 700;
}

.close-icon {
  visibility: hidden;
}

@media (min-width: 500px) {
  .hiddenParagraph {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .close-icon {
    visibility: visible;
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: relative;
    margin-right: 50px;
  }
  .category-option{
    font-size: 28px;
  }
  .checkbox{
    height: 37px;
    width: 37px;
    border: 4px;
  }

}

