.filter-buttons {
  opacity: 0;
}

.clear-btn {
  background-color: white;
  width: 70%;
}

.save-btn {
  color: white;
  background-color: black;
  margin-left: 20px;
  width: 70%;
}

@media (max-width: 600px) {
  .filter-buttons {
    position: relative;
    opacity: 1;
    max-width: 100%;
    bottom: 0;
    height: 104px;
    overflow: hidden;
    width: 450px;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
  }
  .sidebar-filters {
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 0;
    height: 75vh;
    display: flex;
    flex-direction: column;
    width: 395px;
  }
  .clear-btn {
    width: 120px;
    margin-bottom: 30px;
  }
  .save-btn {
    width: 120px;
    margin-bottom: 30px;
  }
}
