.category{
  font-size: 22px;
  font-weight: 700;
}
.clear-btn{
  background-color: white;
  width: 177px;
}
.save-btn{
  color: white;
  background-color: black;
  margin-left: 20px;
  width: 177px
}

.filter-buttons{
  visibility: hidden;
}

@media (max-width: 600px) {
  .filter-buttons{
    position: relative;
    visibility: visible;
  }
}
