.price-range {
  font-weight: 700;
  font-size: 22px;
}

.checkbox {
  width: 23px;
  height: 23px;
  border: 2px solid black;
}

@media (max-width: 600px) {
  .checkbox {
    height: 37px;
    width: 37px;
    border: 4px;
    position: relative;
  }
  .range-option {
    font-size: 28px;
    position: relative;
    margin-top: 10px;
  }
}
