.title{
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
}

.button{
  color: white;
  background-color: black;
  height: 47px;
  width: 257px;
}

.photoOfTheDay{
  height: 535px;
  position: relative;
  display: inline-block;
}

.text-overlay-img{
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  position: absolute;
  bottom: -37px;
  background-color: white;
  opacity: 1;
  padding: 20px;
  display: flex;
  justify-content: start;
}


@media (max-width: 600px) {

.text-end{
  width: 100%;
  display:flex ;
  justify-content: center;
}
.text-start{
  width: 347px;
  height: 39px;
  font-size: 32px;
  font-weight: 700;
}
.image-content , .photoOfTheDay{
  width:482px;
  height:239px;
  display: flex;
  justify-content: center;
  margin-top: -400px;
}

.button{
  width: 486px;
  height: 61px;
  margin-top: 300px;
}

.text-overlay-img{
  font-size: 15px;
  font-family: Inter;
  width: 227px;
  height: 56.54px;
  font-weight: 700;
  position: absolute;
  bottom: 290px;
  background-color: white;
  opacity: 1;
  display: flex;
  justify-content: start;
  padding: 15px;
  padding-left: 50px ;
}

}

