<div class="container mt-5">
  <div class="row">
    <div class="col text-start">
      <p class="title">{{"samurai king resting" | titlecase}}</p>
    </div>
    <div class="col text-end">
      <button mat-raised-button class="button"  >{{"add to cart" | uppercase}}</button>
    </div>
  </div>
  <div class="row mt-5 image-content">
    <img src="../../assets/images/group2.jpg" class="photoOfTheDay" >
  </div>
  <div class="overlay-text">
    <p class="text-overlay-img">{{"Photo of the day"}}
  </div>
</div>
