<div class="container">
  <hr>
  <div class="row mt-5">
    <div class="col text-start phptography-sector-title">
      <p>Photography / <span class="text-secondary"> Premium Photos</span></p>
    </div>
    <div class="col sorting-price d-flex justify-content-end">
      <img src="../../assets/images/sort.png">

      <div class="text-secondary px-2 d-inline ">Sort By
        <span class="text-black ">
          <form [formGroup]="selectForm">
            <select name="selectSortingOption" formControlName="selectSortingOption" (change)="this.selectForm.get('selectSortingOption')?.value" >
              <option value="price">Price</option>
              <option value="alphabetical">Alphabet</option>
            </select>
          </form>
        </span>
      </div>
      <div class="filter">
        <img src="../../assets/images/filter.png">
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3 filter-checkobxes">
      <app-filter-category></app-filter-category>
      <div class="mt-5">
        <app-filter-price-range></app-filter-price-range>
      </div>
    </div>
    <div class="col-9">
      <app-product-list [selectedOptionSorting]="selectForm.get('selectSortingOption')?.value"></app-product-list>
    </div>
  </div>
</div>
