.example-card {
  max-width: 282px;
  box-sizing: border-box;
  position: relative;
  height: 514px;
  padding: 33px;
}
.mat-img{
  position: relative;
  display: inline-block;
}
.mat-btn{
  background-color: black;
  color: white;
  width: 250px;
  position: absolute;
  bottom: 150px;
  margin-left: -5px;
  margin-bottom: 10px;
  font-size: 23px;
  font-family: Archivo;
  font-weight: 500;
  opacity: 0;
  transition: .2s ease;
}

.example-card:hover .mat-btn {
  opacity: 1;
}

.img-category{
  font-weight: 700;
  font-size: 22px;
}
.img-name{
  font-weight: 700;
  font-size: 34px;
}
.img-price{
  font-size: 29px;
  font-weight: 400;
}
.overlay-text{
  width: 127.4px;
  height: 29.17px;
}
.text-overlay-img{
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  position: absolute;
  bottom: 450px;
  left: 10px;
  background-color: white;
  opacity: 1;
  padding: 10px;
}

@media (max-width: 600px) {
 .example-card{
   max-width: 430px !important;
   height: 500px;
   margin-left: -100px;
   border: none;
 }
  .mat-img{
    width: 400px;
  }
  .mat-btn{
    bottom: 137px;
    width: 400px;
  }
  .img-price{
    font-size: 31.55px;
  }
  .text-overlay-img{
    bottom: 435px;
  }
  .about-product{
    margin-top: -10px;
  }
  .pagination{
    align-items: center;
    margin-left: -100px;
  }
  img{
    background-size: cover;
  }
}

//design for paginator
::ng-deep {
  .ngx-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .ngx-pagination li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: black;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .ngx-pagination li.current {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
  }

  li.small-screen {
    display: none !important;
  }

  .pagination-previous,
  .pagination-next {
    a, span {
      display: none !important;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
