.example-card {
  max-width: 282px;
  box-sizing: border-box;
  position: relative;
  height: 514px;
  padding: 33px;
}
.mat-img{
  position: relative;
  display: inline-block;
}
.mat-btn{
  background-color: black;
  color: white;
  width: 250px;
  position: absolute;
  bottom: 150px;
  margin-left: -5px;
  margin-bottom: 10px;
  font-size: 23px;
  font-family: Archivo;
  font-weight: 500;
  opacity: 0;
  transition: .2s ease;
}

.example-card:hover .mat-btn {
  opacity: 1;
}

.img-category{
  font-weight: 700;
  font-size: 22px;
}
.img-name{
  font-weight: 700;
  font-size: 34px;
}
.img-price{
  font-size: 29px;
  font-weight: 400;
}
.overlay-text{
  width: 127.4px;
  height: 29.17px;
}
.text-overlay-img{
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  position: absolute;
  bottom: 450px;
  left: 10px;
  background-color: white;
  opacity: 1;
  padding: 10px;
}

@media (max-width: 600px) {
 .example-card{
   width: 800px !important;
   height: 661.05px;
   margin-left: -90px;
 }
  .mat-img{
    width: 400px;
  }
  .mat-btn{
    bottom: 51px;
    width: 100%;
  }
  .img-price{
    font-size: 31.55px;
  }
}
